/auto-save-list
/backups
/bookmarks
/.cache
/emojis
/experiments
/private.el
/recentf
/straight
/transient
/tramp
/url
/projects
/project-window-list
/.lsp-session-v1
/SessionDesktop.el
/org-persist/
/request/
