/transient
/elpa/*
/backups/*
/network-security.data
/history
/ido.last
/projectile-bookmarks.eld
/recentf
/smex-items
/todo.org
/.cask
/.mc-lists.el
/tramp
/anaconda-mode/
/url
/experiments
/private.el
